<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Dialog</strong>
                    <small> Demo</small>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success" ng-click="notify()">
                            <i class="fa fa-dot-circle-o"></i> Show Notify
                        </button>
                        <button type="button" class="btn btn-sm btn-danger"
                                ng-click="closeThisDialog('Dialog Closed!')">
                            <i class="fa fa-ban"></i> Close
                        </button>
                    </div>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>
</div>