<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Dialog</strong>
                    <small> Demo</small>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success" ng-click="show();">
                            <i class="fa fa-dot-circle-o"></i> Open
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" ng-click="text()">
                            <i class="fa fa-ban"></i> Text
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" ng-click="confirm()">
                            <i class="fa fa-ban"></i> Confirm
                        </button>
                    </div>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>
</div>