<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>notify</strong>
                    <small> Demo</small>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success" ng-click="info();">
                            <i class="fa fa-dot-circle-o"></i> Info
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" ng-click="error()">
                            <i class="fa fa-ban"></i> Error
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" ng-click="warn()">
                            <i class="fa fa-ban"></i> Warn
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" ng-click="success()">
                            <i class="fa fa-ban"></i> Success
                        </button>
                    </div>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>
</div>