<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Pagination</strong>
                    <small> Demo</small>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>用户名</th>
                            <th>电话号码</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.phone_number}}</td>
                            <td>{{user.status}}</td>
                            <td>
                                <a title="update user" ui-sref="app.admin.user.update({id:'{{user.id}}'})"
                                   href="javascript:void(0);">修改</a>
                                <a title="disable user" href="javascript:void(0);" ng-click="disable(user.id)"
                                   ng-if="user.status == 'A'" ui>禁用</a>
                                <a title="activate user" href="javascript:void(0);" ng-click="activate(user.id)"
                                   ng-if="user.status != 'A'" ui>激活</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pull-right mt-3 mr-3">
                        <ul uib-pagination total-items="pagination.total" ng-model="pagination.currentPage"
                            max-size="pagination.maxSize" ng-change="pagination.pageChanged()"
                            items-per-page="pagination.pageSize" class="pagination-sm"
                            boundary-link-numbers="true"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>